<!DOCTYPE html>
<html lang="pl">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main class="main-content">
            {{content}}
        </main>
        <footer class="main-footer">
          <div class="footer-col-3">
            Ta strona korzysta z ciasteczek.
            <a href="/cookies">Dowiedz się więcej</a>
          </div>
<div class="fb-page footer-col-3" data-href="https://facebook.com/kotzrodlowy" data-tabs="timeline" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"></div>
        </footer>
         {% include analytics.html %}
         <script src="/js/main.js"></script>
         <div id="fb-root"></div>
         <script>(function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>
