---
layout: default
---
<section class="home">
    <h2 class="page-title">
        {{ page.title }}
    </h2>
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-list-item">
            <header>
                <h3 >
                    <a href="{{ post.url }}"> {{ post.title }}</a>
                </h3>
                <time datetime="{{post.date}}">{{post.date | date: "%d-%m-%Y"}}</time>

                {% for category in post.categories %}
                <img src="/img/cat-small.png"alt="" class="cat">
                <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ category }}">
                    {{ category }}
                </a>
                {% endfor %}
            </header>
            <div class="post-list-item-desc">
                <p>{{ post.excerpt | default: '' | strip_html | normalize_whitespace | truncate: 200 | escape }}
                    <a href="{{ post.url }}"> Czytaj więcej</a>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{{"/feeds/feed.xml " |  relative_url }}" style="line-height:2em">
      <img src="{{ "img/rss.png" | relative_url }}" alt="Subskrybuj"
      title="Subskrybuj" style="width:1em;">
      Subskrybuj
    </a>
</section>
