---
layout: default
comments: true
---
<article class="post">
<header class="post-header">
    <h2 class="post-title" >{{ page.title | escape }}</h2>
    <p class="post-meta">
        <time datetime="{{page.date}}">
            {{ page.date | date: "%d-%m-%Y" }}
        </time>
        {% for category in page.categories %}
        &diams;
        <a href="{{ site.url }}{{ site.baseurl }}/feeds/{{ category }}.xml">
            {{ category }}
        </a>
        {% endfor %}
    </p>
</header>
<section class="post-content">
    {{ content }}
</section>

{% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
